body
{
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
}
.container-1
{
    text-align: center;
}
.item
{
    background: #c5c5c5;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}
p
{
    font-size: 25px;
}

@media screen and (min-width: 450px)
{
    .menu
    {
        float:  left;
        width: 200px;
    }
    p
    {
        font-size: 20px;
    }
}